<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<display-name>Java Web Application Demo</display-name>

	<!-- 监听器 -->
	<listener>
		<listener-class>com.jcodes.javaweb.listener.ContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.ContextAttribute</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.RequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.RequestAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.SessionAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.SessionActivationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.SessionBindingListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jcodes.javaweb.listener.OnlineCounterListener</listener-class>
	</listener>
	
	
	<!-- 过滤器 -->
	<filter>
		<filter-name>AuthorityFilter</filter-name>
		<filter-class>com.jcodes.javaweb.filter.AuthorityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- servlet -->
	<servlet>
        <servlet-name>LoadOnStartupServlet</servlet-name>
        <servlet-class>com.jcodes.javaweb.servlet.LoadOnStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.jcodes.javaweb.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>


</web-app>
